* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
    font-family: 'Helvetica Neue', sans-serif;
	}
/* Estilo de la barra de enlaces - encabezado de página */
nav {
    background-color:rgba(0, 0, 0, 0.789);
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
nav h1 {
    color: #fff;
    font-size: 24px;
    display: flex;
    margin: 10px 20px;
}
.nav-links {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
}
.nav-links li a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;
    display: flex; 
}
.nav-links li button {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    background-color: lightskyblue;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

/* Estilo de contenedor main y estilos compartidos entre boxs */
main {
    display: flex;
}
.contenido1 {
    flex: 2;
}
.contenido2 {
    flex: 1;  
}
div ul li {
    list-style-type: none;

}
div ul li img {
    height:45px;
    width: 45px;
    margin: 0 5px 5px 5px;
    padding: 2px;
    vertical-align: middle;
}
div h1,h2,p{
    padding: 5px 15px 5px 15px;
}
.boxeducacion,.boxsolicitudes, .boxconexiones {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: max-content;
    margin: 20px;
    padding: 5px;
    font-size: 90%;
}

/* Estilo de tarjeta de perfil */
.boxtarjetaperfil {
    height: 450px;
    border-radius: 20px;
    background-color:white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    }

.fondoperfil  {
    height: 150px;
    width:100%;
    border-radius: 20px;
    margin: 0 auto;
    background-color: lightskyblue;
    }

.contenidoperfil {
    height: 400px;
    width:100%;
    background-color: white;
    position: relative;
    top:-20px;
    }

.contenidoperfil img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    outline: solid 3px white;
    position: relative;
    top: -30px;
    left: 30px;
    }
.contenidoperfil button {
    background-color: white;
    color:lightskyblue;
    border: 2px solid lightskyblue;
    font-size: 12px;
    border-radius: 10%;
    width: 90px;
    height: 30px;
    vertical-align: middle;
    margin: 5px 15px;
    }

/* Estilo box Solicitudes de Conexion */
.boxsolicitudes img {
    border-radius: 10%;
    }

.boxsolicitudes button { 
    background-color: white;
    color: red;
    border: 2px solid red;
    font-size: 15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left:10px;
}
/* Estilo box Tus conexiones */
.boxconexiones img {
    border-radius: 50%;
}